.navbar-custom{
    box-shadow: 2px 2px 2px;
}
.nav-link-custom{
    color: black;
}
.logo-title{
    font-style: italic;
}
.navbar-brand{
    font-size: 20px;
}
.btn-default{
    background: cornflowerblue !important;
}
.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#home-banner{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
}
