{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container-fluid">
    <p class="text-center">Add Post</p>
    <p class="text-center">Add your Quote post here..</p>
</div>
<div class="container pt-2">
    <div class="row">
        <div class="col-md-4"></div>
         <div class="col-md-4">
             <h2>Add Post</h2>
            {{ wtf.quick_form(post_form)}}
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
{% endblock %}
