{% extends 'base.html' %}

{% block content %}
<div class="body-content mt-3">
    <img class="profile-img" src="{{ url_for('static',filename=post.author.profile_pic_path) }}" alt="">
    <h4>{{post.title}}</h4>
    <h5 class="subtitle"> {{post.description}}</h5>
    <h4>{{post.author.username}}</h4>
    <p class="date text-muted">Posted on ~ {{post.date.strftime('%Y-%m-%d')}}</p>
    <hr>
    <a href="{{ url_for('main.delete', id=post.id) }}" class="btn btn-danger">delete</a>
</div>
{% endblock %}
